@import "../../assets/fonts/fonts.css";

.search-page-field {
    position: relative;
}

.search-page-field form {
    display: flex;
    justify-content: center;
}

.search-page-field form input {
    font-family: 'Arial', sans-serif;
    color: #acacac;
    font-size: 16px;
    font-style: italic;
    border: none;
    flex: 1;
    padding: 6px 15px;
}

.search-page-field input:focus {
    outline: none;
}

.search-page-field button {
    padding: 6px 0px;
}

.search-page-field .euiFormControlLayout {
    width: 90%;
}

.euiFormControlLayout__childrenWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}